.articleContent {
	padding: 20px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
}

.comment {
	font-size: 1.2em;
}

.commentTime {
	font-size: 0.9em;
	color: gray;
}

/* Button */
.btn {
	color: black;
	font-size: 0.8em;
	padding: 3px 7px;
	text-decoration: none;
	border: thin solid gray;
	background: linear-gradient(#f7f7f7, #dedede);
}

/* Messages */
.success {
	color: blue;
}

.error {
	color: red;
}